body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:moccasin;
}

.container{
    padding-top: 35vh;
    text-align: center;
}

.connect{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}