#root {
  text-align: center;
}

.hero {
  padding: 2rem;
  background-color: hsl(126, 44%, 83%);
}

.projects {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: hsl(0, 0%, 98%);
  width: 100%;
}

.connect {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(126, 40%, 85%);

  &__links {
    display: flex;
  }
}
