.about-me {
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  padding: 2rem;

  @media screen and (min-width: 768px) {
    padding: 3rem 5rem;
  }

  &__technologies {
    margin-top: 2rem;
    margin-bottom: 1rem;

    &-subset {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    &-icon {
      height: 48px;
      width: 48px;

      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
